.mainClass {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.App h1 {
  margin: 0px 0 15px 0;
  padding-top: 15px;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1px;
  color: #dddddd;
}

@media screen and (max-width: 768px) {
  .App h1 {
    width: 80%;
    margin: 0 auto;
    font-size: 3.5em;
  }
}

@media screen and (max-width: 425px) {
  .App h1 {
    width: 80%;
    margin: 0 auto;
    font-size: 2.5em;
  }
}
